.theme-picker {
  background-color: var(--theme-1-background-color);
  background-image: var(--theme-1-background-image, "none");
  background-repeat: no-repeat;
  border-radius: 0.25rem;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  opacity: 0;
  pointer-events: none;
  position: absolute;
  right: 3.5rem;
  top: 0;
  transform: scale(0.98);
  transition: opacity 0.15s ease-in-out, transform 0.25s ease-in-out;
  z-index: 1;
}

.theme-picker-open {
  opacity: 1;
  pointer-events: auto;
  transform: none;
}

.heading {
  color: var(--theme-2-color);
  margin-top: 0;
  padding: 1rem 1.5rem 0;
}

.list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  overflow-y: auto;
  padding: 0.25rem 1.5rem 1rem;

  > * + * {
    margin-top: 1rem;
  }
}

.theme-picker-button {
  background-color: var(--theme-2-background-color);
  background-image: var(--theme-2-background-image, "none");
  background-repeat: no-repeat;
  border: none;
  border-radius: 50%;
  color: var(--theme-2-color);
  cursor: pointer;
  font-size: 1rem;
  line-height: 1;
  padding: 0.65em 0.7em;
}

.theme-picker-button svg {
  fill: currentColor;
  height: 1em;
  width: 1em;
}
