.theme {
  border: 0.25rem solid transparent;
}

.isSelected {
  border-color: var(--theme-picker--active-color);
}

.button {
  background-color: var(--theme-1-background);
  color: var(--theme-1-color);
}