.button {
  border: none;
  border-radius: 0.25rem;
  color: var(--theme-2-color);
  cursor: pointer;
  margin-top: 0.5rem;
  margin: 0.5rem;
  outline-color: currentColor;
  padding: 0;
  position: relative;
  -webkit-tap-highlight-color: transparent;
  user-select: none;

  &:hover,
  &:focus {
    .buttonInner {
      transform: translate3d(-0.175rem, -0.35rem, 0);
      transition-duration: 0.15s;
    }
  }

  &:active {
    .buttonInner {
      transform: translate3d(-0.025rem, -0.1rem, 0);
      transition-duration: 0.1s;
    }
  }

  &::before {
    background-color: currentColor;
    border-radius: inherit;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.buttonInner {
  background-color: var(--theme-2-background-color);
  background-image: var(--theme-2-background-image);
  background-repeat: no-repeat;
  border-radius: inherit;
  padding: 0.5rem 1.5rem;
  position: relative;
  transform: translate3d(-0.125rem, -0.25rem, 0);
  transition: transform 0.25s ease-in-out;
}
