.themePicker {
  background-color: var(--theme-1-offset);
  margin-bottom: 2rem;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.25s ease-in-out;
  width: 100vw;
}

.themePickerOpen {
  max-height: 8.9375rem;
}

.heading {
  color: var(--theme-2-color);
  margin-top: 0;
  padding: 1rem 1.5rem 0;
}

.list {
  display: flex;
  list-style: none;
  margin: 0;
  overflow-y: auto;
  padding: 0.25rem 1.5rem 1rem;

  > * + * {
    margin-left: 1rem;
  }
}
