.buttons {
  display: flex;
  flex-wrap: wrap;
  font-size: 0.875rem;
  margin: -0.5rem;
  margin-top: 2rem;
}

.buttons > * {
  flex-grow: 1;
  margin: 0.5rem;
}

.reset,
.copyLink,
.downloadImage {
  background-color: var(--theme-2-background);
  color: var(--theme-2-color);
  border: none;
  cursor: pointer;
  display: inline-block;
  margin-top: 0.5rem;
  padding: 0.5rem 1.5rem;
}
