.buttons {
  display: flex;
  flex-wrap: wrap;
  font-size: 0.875rem;
  margin: -0.5rem;
  margin-top: 2rem;
}

.buttons > * {
  flex-grow: 1;
  margin: 0.5rem;
}

.reset,
.copyLink {
  background-color: var(--theme-2-background-color);
  background-image: var(--theme-2-background-image, "none");
  background-repeat: no-repeat;
  box-shadow: 0.2rem 0.2rem;
  color: var(--theme-2-color);
  border: none;
  cursor: pointer;
  display: inline-block;
  margin-top: 0.5rem;
  padding: 0.5rem 1.5rem;
}
