.main {
  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  padding: 0 0.5rem;
  
  @media screen and (min-width: 32rem) {
    padding: 0 1rem;
  }
}

.container {
  background-color: var(--theme-1-background-color);
  background-image: var(--theme-1-background-image, "none");
  background-repeat: no-repeat;
  border-radius: 2rem;
  box-shadow: 0 1px 1rem rgba(0, 0, 0, 0.15);
  color: var(--theme-1-color);
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 32rem;
  padding: 1.5rem 1rem 2rem;

  @media screen and (min-width: 32rem) {
    padding: 3rem;
  }
}

.container-header {
  position: relative;
}

/**
 * {1} Decrease from the default 2em just to make the Norwegian
 *     heading text fit on one line on iPhones in portrait mode.
 */
.heading {
  font-size: 1.9em; /* {1} */
  margin-top: 0;
  text-align: center;
}

.theme-language-picker-button-wrapper {
  display: flex;
  gap: 0.5rem;
  justify-content: flex-end;
  margin: 2rem 1rem;
  position: relative;

  @media screen and (min-width: 32rem) {
    align-items: flex-end;
    flex-direction: column;
  }
}
