@use "sass:math";

:root {
  --theme-1-background-image: none;
  --theme-2-background-image: none;
  --global-background-image: none;
}

[data-theme="original"] {
  --theme-1-background-color: hsl(353, 53%, 54%);
  --theme-1-color: white;
  --theme-2-background-color: hsl(257, 13%, 32%);
  --theme-2-color: white;
  --global-background-color: hsl(163, 29%, 80%);
}

[data-theme="moo-moo-farm"] {
  --theme-1-background-color: hsl(42, 93%, 95%);
  --theme-1-color: hsl(224, 63%, 25%);
  --theme-2-color: hsl(224, 63%, 25%);
  --theme-2-background-color: hsl(187, 55%, 71%);

  --global-background-color: hsl(262deg 80% 99%);
  --global-background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23dd00aa33' fill-opacity='0.4'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  --global-background-repeat: repeat;
  --global-background-size: 4rem;
}

[data-theme="winter"] {
  --theme-1-background-color: hsl(230deg 33% 36%);
  --theme-1-color: #fffffe;
  --theme-2-color: #ffbd03;
  --theme-2-background-color: hsl(230, 36%, 26%);

  --global-background-color: hsl(230deg 36% 6%);
  --footer-color: #fffffe;
  --footer-link-color: #fffffe;
}

[data-theme="pride"] {
  --theme-1-background-color: hsl(340, 87%, 94%);
  --theme-1-color: hsl(224, 63%, 25%);

  --theme-2-color: var(--theme-1-color);
  --theme-2-background-color: hsl(340, 87%, 70%);

  --global-background-color: hsl(340, 87%, 76%);
  --global-background-image: url("/pride-hearts.svg");

  --footer-link-color: var(--theme-1-color);
}
