*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --scrollbarBG: transparent;
  --thumbBG: white;
}

html,
body {
  font-family: "Roboto Slab", serif;
  margin: 0;
}

body {
  --theme-picker-border-color: var(--theme-1-color);
  background-color: var(--global-background-color, #fff);
  background-image: var(--global-background-image, none);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  color: inherit;
}

button,
input,
select,
textarea {
  border: none;
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}

input:disabled,
select:disabled,
textarea:disabled {
  color: currentColor;
  opacity: 1;
}

.hidden {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}
