*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {  
  --scrollbarBG: transparent;
  --thumbBG: white;
}

html,
body {
  margin: 0;
  font-family: 'Roboto Slab', serif;
}

body {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding: 1rem;
}

a {
  color: inherit;
}

button,
input, 
select,
textarea {
  border: none;
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}

input:disabled, 
select:disabled,
textarea:disabled {
  color: currentColor;
  opacity: 1;
}

.hidden {
  border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important;
	-webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;  
}