*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {  
  --scrollbarBG: transparent;
  --thumbBG: white;
}

html,
body {
  margin: 0;
  font-family: 'Roboto Slab', serif;
}

body {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding: 1rem;
}

a {
  color: inherit;
}

button,
input, 
select,
textarea {
  border: none;
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}

input:disabled, 
select:disabled,
textarea:disabled {
  color: currentColor;
  opacity: 1;
}