.main {
	flex-grow: 1;
}

.container {
  background-color: var(--theme-1-background);
  border-radius: 0.5rem;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  color: var(--theme-1-color);
  display: flex;
	flex-direction: column;
  max-width: 32rem;
	padding: 3rem 3rem;
}

.containerHeader {
	position: relative;
}

.languagePickerContainer {
	font-size: 0.8125em;
	position: absolute;
	right: -2rem;
	top: -2rem;
}

.heading {
  margin-top: 0;
  text-align: center;
}
