.hidden {
  border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important;
	-webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;  
}

.container {
  background-color: #d4727e;
  border-radius: 0.5rem;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  color: white;
  display: flex;
	flex-direction: column;
  max-width: 32rem;
	padding: 2rem 3rem;
}

.heading {
  margin-top: 0;
  text-align: center;
}