.main {
  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  padding: 0 1rem;
}

.container {
  background-color: var(--theme-1-background);
  border-radius: 0.5rem;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  color: var(--theme-1-color);
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 32rem;
  padding: 3rem 3rem;
}

.containerHeader {
  position: relative;
}

.languagePickerContainer {
  font-size: 0.8125em;
  position: absolute;
  right: -2rem;
  top: -2rem;
}

.heading {
  margin-top: 0;
  text-align: center;
}

.themePickerButtonWrapper {
  display: flex;
  justify-content: flex-end;
  margin: 2rem 1rem;
  position: relative;
}

.themePickerButton {
  background-color: var(--theme-2-background);
  border: none;
  border-radius: 50%;
  color: var(--theme-2-color);
  font-size: 1rem;
  line-height: 1;
  padding: 0.65em;
}

.themePickerButton svg {
  fill: currentColor;
  height: 1em;
  width: 1em;
}
